DEBUG=

SECRET_KEY=

NAME=
USER=
PASSWORD=
HOST=
PORT=

DEBUG=True

SECRET_KEY=django-insecure-39orta2=-$y_jm$91_jg1h7$k!l1wm#-j%y&-_th&w4w^%(4wu

NAME=mailing
USER=postgres
PASSWORD=07052001
HOST=localhost
PORT=5432
EMAIL_HOST_PASSWORD=2g7MuLzHG5NBTVNnvDPm
EMAIL_HOST_USER=nurlan.grachyov@mail.ru