{% autoescape off %}
Subject: Сброс пароля для сайта [Название вашего сайта]

Здравствуйте!

Вы получили это письмо, потому что кто-то (возможно, вы) запросил сброс пароля для вашего аккаунта на сайте [Название вашего сайта].
Чтобы сбросить пароль, перейдите по следующей ссылке:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Если вы не запрашивали сброс пароля, просто проигнорируйте это сообщение.

С уважением,
Команда [Название вашего сайта]
{% endautoescape %}