{% extends 'base.html' %}
{% include 'header.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="album py-5 bg-body-tertiary container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col-4">
            <p>Получатели рассылки</p>
<!--            {% for recipient in recipients %}-->
            <div class="card h-10 mt-2 shadow-sm">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h3 class="card-title">{{ recipient }}</h3>
                </div>
            </div>
<!--            {% endfor %}-->
        </div>
        <div class="col-4">
            <p>Рассылки</p>
<!--            {% for mailing in all_mailings %}-->
            <div class="card h-10 mt-2 shadow-sm">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h6 class="card-title">{{ all_mailings }}</h6>
<!--                    <p class="card-title">{{ mailing.message.body_letter }}</p>-->
                </div>
            </div>
<!--            {% endfor %}-->
        </div>
        <div class="col-4">
            <p>Рассылки со статусом "Запущена"</p>
            {% for active_mailing in active_mailings %}
            <div class="card h-10 mt-2 shadow-sm">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h6 class="card-title">{{ active_mailing.message.subject_letter }}</h6>
                    <p class="card-title">{{ active_mailing.message.body_letter }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}